<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="content">
    <h1 class="title">Notifications</h1>
  </ion-item>



  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">

        <ion-toolbar color="primary">
          <ion-row>
            <ion-col size="12" size-md="1">S.No</ion-col>
            <ion-col size="12" size-md="3">Notification</ion-col>
            <ion-col size="12" size-md="4">Type of Notification</ion-col>
            <ion-col size="12" size-md="2">Status</ion-col>
          </ion-row>
        </ion-toolbar>

        <app-spinner *ngIf="showSpinner"></app-spinner>
        <ion-item class="mainTable" *ngFor="let n of unreadNotis | async; let i = index;">
          <ion-col size="12" size-md="1">{{i+1}}</ion-col>
          <ion-col size="12" size-md="3">{{n.payload.val().Name}}</ion-col>
          <ion-col size="12" size-md="4">{{n.payload.val().Type}}</ion-col>
          <ion-col size="12" size-md="2">{{n.payload.val().Status}}</ion-col>


          <ion-col size="12" size-md="2">
            <ion-button fill="clear" (click)="maRead(n)">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-item>
        <ion-item class="mainTable" *ngFor="let n of readNotis | async; let i = index;">
          <ion-col size="12" size-md="1">{{i+1}}</ion-col>
          <ion-col size="12" size-md="3">{{n.payload.val().Name}}</ion-col>
          <ion-col size="12" size-md="4">{{n.payload.val().Type}}</ion-col>
          <ion-col size="12" size-md="2">{{n.payload.val().Status}}</ion-col>



        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>