<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="none" lines="none" class="content">
    <h1 class="title">Item of Sub-Category of {{subCat.Name }}</h1>
  </ion-item>



  <app-spinner *ngIf="showSpinner"></app-spinner>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let i of subCatItems ">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{i.Name | uppercase}}
            </ion-card-title>
          </ion-card-header>
          <ion-button fill="clear" color="danger" (click)="delSubCatItem(i.key)">Delete</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="gtAddSubCatItem()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>