<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  id="cart-btn" class="ion-padding-right ion-margin-right" fill="clear" icon-only (click)="gtNoti($event)">
        <ion-icon size="large" name="md-notifications"></ion-icon>
        <ion-badge id="cart-badge" color="danger">{{unReadNum}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>