<app-top-push-bar></app-top-push-bar>
<ion-content class="ion-padding">
  <ion-item lines="none" lines="none" class="content">
    <h1 class="title">Sub-Categories of {{cat.Name }}</h1>
  </ion-item>



  <app-spinner *ngIf="showSpinner"></app-spinner>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let s of subCats ">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{s.Name | uppercase}}
            </ion-card-title>
          </ion-card-header>
          <ion-button fill="clear" (click)="gtSubCatI(s.key)">View</ion-button>
          <ion-button fill="clear" color="danger" (click)="delSubCat(s.key)">Delete</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="gtAddSubCat()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>