<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-padding-right ion-margin-right" fill="clear" icon-only (click)="gtNoti($event)">
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="content">
    <h1 class="title">Current Banners</h1>
  </ion-item>





  <app-spinner *ngIf="showSpinner"></app-spinner>

  <ion-grid>
    <ion-row>
      <ion-col class="cll" size-md="6" size="12" *ngFor="let banner of banners | async">
        <!-- {{banner | json}} -->
        <ion-card class="cardmain">
          <img [src]="banner.payload.val().Image" class="main" />
          <h1 class="bname">{{banner.payload.val().Name}} </h1>
          <div class="editBtns">
            <ion-button color="danger" (click)="deleteBanner(banner)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="gtAddBanner()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>








</ion-content>