<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-padding-right ion-margin-right" fill="clear" icon-only (click)="gtNoti($event)">
        <ion-icon name="md-notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="content">
    <h1 class="title">Categories</h1>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let c of cats | async" (click)="gtSubCat(c.key)">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{c.payload.val().Name}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>